header{
    background-color: rgb(108, 132, 155);
    height: 25px;
    width: 100%;
    display: flex;
    padding: 20px;
    

    
}
.texto{
    margin-top: 5px;
    margin-left: 41%;
    font-size: 30px;
    color: rgb(5, 42, 141);
    font-family: fantasy;
    opacity: 70%;
}


footer{
    background-color: rgb(108, 132, 155);
    height: 25px;
    width: 100%;
    display: flex;
    padding: 20px;
}

.pie{

    
    color: rgb(5, 42, 141);
    margin-left: 37%;
    font-size: 15px;
    
}

.tilin{
    display: flex;
    margin-left: 28%;
}

.tilin2{
    display: flex;
    margin-left: 30%;
}


body{
    background-color: #e3e9fc;
}

h1{
 text-align: center;
color: #5769a5;
font-family: Arial, Helvetica, sans-serif;


}

h2{
    text-align: center;
    color: #5769a5;
    font-family: Arial, Helvetica, sans-serif;
    

}

p{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
margin-left: 20%;
margin-right: 20%;
}

img{

    width:300px ;
    height:300px ;
}